{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">0.25%"
          ]
        }
      } 
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-modules-commonjs", {
      "allowTopLevelThis": true
    }]
  ],
  "exclude": ["transform-es2015-typeof-symbol"]
}