:root {
  --space: 1.5em;
  --space-lg: 2em;
  --bg-color: hsl(150, 45%, 50%);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  display: flex;
  flex-direction: column;
  height: 100%; 
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding-top: 20px;
  max-width: 50em;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  outline: none;
}

.btn {
  transition: background-color 0.2s;
  display: inline-block;
  padding: 0.6em 1em;
  background: hsla(31, 15%, 50%, 0.15);
  color: inherit;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.8125em;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
}
.btn:focus {
  outline: thin dotted #666;
  text-decoration: none;
}
.btn:active,
.btn:focus,
.btn:hover {
  border: 0;
  background: hsla(31, 15%, 50%, 0.25);
  text-decoration: none;
}

.btn-success {
  transition: background-color 0.2s;
  display: inline-block;
  padding: 0.6em 1em;
  color: inherit;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.8125em;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
  background-color: hsl(150, 45%, 50%);
  color: #fff;
}
.btn-success:active,
.btn-success:focus,
.btn-success:hover {
  background-color: hsl(150, 45%, 40%);
}

.btn-primary {
  transition: background-color 0.2s;
  display: inline-block;
  padding: 0.6em 1em;
  color: inherit;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.8125em;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
  background-color: hsl(223, 95%, 50%);
  color: #fff;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color:  hsl(223, 95%, 50%);
}

.btn-danger {
  transition: background-color 0.2s;
  display: flex;
  padding: 0.6em 1em;
  color: inherit;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.8125em;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
  background-color: hsl(0, 90%, 56%);
  color: #fff;
}
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover {
  background-color: hsl(0, 90%, 56%);
}


button--wide {
  padding-right: 1.5em;
  padding-left: 1.5em;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
input {
  display: flex;
  padding: 0.25rem 0.25rem;
  width: 100%;
  margin-bottom: 1.5em;
  flex: 1;
  border-left: 0;
  border-right: 0;
  background-color: rgba(147, 128, 108, 0.1);
  color: #666666;
  font: inherit;
  line-height: normal;
  font-weight: normal;
  border: 1px solid rgba(147, 128, 108, 0.25);
  border-radius: 2px 0 0 2px;
}

footer {
  flex: none;
}

main {
  flex: 1 0 auto; 
  width: 100%;
}
 

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: -5px;
}
 

[class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 0.25rem;
  box-sizing: border-box;
}

.col-1 {
  flex: 1 1 8.33%;
  width: 8.33%;
}
.col-2 {
  flex: 1 1 16.66%;
  width: 16.66%;
}
.col-3 {
  flex: 1 1 25%;
  width: 25%;
}
.col-4 {
  flex: 1 1 33.33%;
  width: 33.33%;
}
.col-5 {
  flex: 1 1 41.66%;
  width: 41.66%;
}
.col-6 {
  flex: 1 1 50%;
  width: 50%;
}
.col-7 {
  flex: 1 1 58.33%;
  width: 58.33%;
}
.col-8 {
  flex: 1 1 66.66%;
  width: 66.66%;
}
.col-9 {
  flex: 1 1 75%;
  width: 75%;
}
.col-10 {
  flex: 1 1 88.33%;
  width: 83.33%;
}
.col-11 {
  flex: 1 1 91.66%;
  width: 91.66%;
}
.col-12 {
  flex: 1 1 100%;
  width: 100%;
} 


@media only screen and (max-width: 768px) {
  .col {
    margin: 1% 0 1% 0%;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    flex: 1 1 100%;
    width: 100%;
  }
}

.footer {
  padding: 0.5rem 0.5rem;
  background-color: #789;
  color: #fff;
  font-size: 1em;
  overflow-x: hidden;
  text-align: left;
}

header {
  padding: 0.25em;
  background-color: rgba(147, 128, 108, 0.1);
  text-align: center;
}

header .title {
  margin: 0 0 0.15em;
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1;
  word-spacing: 0.08em;
}

header .title a {
  border: 0;
  color: inherit;
  font-weight: inherit;
}
header .title a:focus,
header .title a:hover,
header .title a:active {
  text-decoration: none;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: rgb(16, 61, 210);
  text-decoration: none;
  display: block;
}

header nav ul li a:hover,
header nav ul li a:active {
  color: #fff;
  background: #2196f3;
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: 5.5%;
  }
  header nav.active {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

pre {
  border-radius: 3px;
  background: hsla(31, 15%, 50%, 0.1);
  font-size: 0.85em;
  margin-bottom: calc(var(--space)/0.85);
  overflow-x: auto;
  padding: 1.25em 1.5em;
}

code,
pre {
  font-family: 'Menlo', 'Monaco', monospace;
}

code {
  font-size: .9em;
  font-weight: normal;
  color: #000;
}

pre > code {
  font: inherit;
  color: inherit;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
  }
}
 
 